/* Styles go here */

body {
    font-family: 'Fredoka One', cursive, Arial;
    background-image: url("/assets/views/subtle_white_mini_waves.png");
}

.bigDiv {
    background-color: white;
    width: 80%;
    margin: 40px auto 0 auto;
    border: 3px ridge red;
    border-radius: 20px;
}

.mainBody {
    /*border: 1px dashed black;*/
    margin: 20px auto 0 auto;
}

.gameDiv {
    height: 450px;
    /*border: 1px solid green;*/
}

#middle {
    margin-top: 70px;
    text-align: center;
}

.headerDiv {
    /*border-bottom: 2px solid blue;*/
}

.bottomDiv {
    border: 1px dashed blue;
}

h1 {
    margin: 30px 0 20px 65px;
}

img {
    width: 100px;
    height: 80px;
}

.as-sortable-item,
.as-sortable-placeholder {
    width: 200px;
    margin: 15px;
    border: 1px solid black;
    border-radius: 5px;
    list-style: none;
    color: white;
    padding-top: 15px;
    /*display: inline-block;*/
    /*float: left;*/
    text-align: center;
}

.as-sortable-placeholder {
    border: 1px dotted #0000ff !important;
}

#sortable-container {
    display: inline-block;
}

.column {
    border: 1px solid #000000;
    border-radius: 5px;
}

.answerBlocks {
    background: radial-gradient(orangered, darkred);
    box-shadow: 3px 3px 4px black;
}

.answerBlocks span {
    font-size: 22px;
    text-shadow: 1px 1px 2px black;
}

#pointsDifficultyDiv {
    text-align: right;
    /*border: 1px dashed blue;*/
    height: 100px;
}

#categoryTitleDiv {
    font-size: 48px;
    text-align: center;
    /*border: 1px dashed blue;*/
    height: 100px;
}

#logoDiv {
    /*border: 1px dashed blue;*/
    height: 100px;
}

#ptsSpan {
    color: darkblue;
}

#diffSpan {
    color: purple;
}
